<a href="https://colab.research.google.com/github/christopher-reed/ag_data_project/blob/master/area_planted_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Import packages
import pandas as pd
import numpy as np
import requests, json

api_key = '70D413B2-0123-3524-9634-F730BE441009' 

#Years used in study
years = map(str,range(1981,2018))

payload = {'key':api_key,
	   'source_desc':'SURVEY',
	   'commodity_desc':'CORN',
	   'statisticcat_desc':'AREA PLANTED',
	   'agg_level_desc':'COUNTY',
	   'year':years,
	   'format':'JSON',
     'prodn_practice_desc':'ALL PRODUCTION PRACTICES'}

#States used in study
states = ['IL']

#Empty df to store results
df_all = pd.DataFrame()

#loop through payload with each state in states list
for i in states:
    payload['state_alpha'] = i
    r = requests.get('http://quickstats.nass.usda.gov/api/api_GET/?key='+api_key, params = payload)
    df = pd.read_json(json.dumps(r.json()),orient='split')
    
    df_trunc = df[['state_fips_code','county_name','county_code','year','Value']]
    
    df_all = pd.concat([df_all, df_trunc])
    print(i)

IL

In [0]:
#Convert comma seperated values to integers
list_area = list(df_all['Value'])
list_area = [i.replace(',','') for i in list_area]
df_all['Value'] = list_area

In [0]:
#Preview df
df_all.head()

   state_fips_code county_name  county_code  year   Value
0               17      BUREAU           11  2017  264000
1               17      BUREAU           11  2016  273500
2               17      BUREAU           11  2015  262000
3               17      BUREAU           11  2014  277000
4               17      BUREAU           11  2013  291500

In [0]:
#Save as csv
df_all.to_csv('area_planted.csv', index = False, header = False)