<a href="https://colab.research.google.com/github/christopher-reed/ag_data_project/blob/master/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import requests, json

api_key = '70D413B2-0123-3524-9634-F730BE441009' 

r = requests.get('http://quickstats.nass.usda.gov/api/api_GET/?key='+api_key)

years = map(str,range(1981,2018))

payload = {'key':api_key,
          'source_desc':'SURVEY',
          'sector_desc':'CROPS',
          'commodity_desc':'CORN',
           'prodn_practice_desc':'ALL PRODUCTION PRACTICES',
          'statisticcat_desc':'YIELD',
           'unit_desc':'BU / ACRE',
          'agg_level_desc':'COUNTY',
           'year':years, #here is the list of years as strings
           'format':'JSON'}

states = ['IL','IN','IA','KS','KY','MI','MO','NE','OH','SD','WI']

df_all = pd.DataFrame()

for i in states:
    payload['state_alpha'] = i 
    r = requests.get('http://quickstats.nass.usda.gov/api/api_GET/?key='+api_key, params = payload)
    df = pd.read_json(json.dumps(r.json()),orient='split') #r.json() makes request (r) into a dictionary. json.dumps makes the dictionary into json file. Orient argument makes sure it is read correctly.
    
    df_trunc = df[['state_fips_code','county_name','county_code','year','Value']]
    
    df_all = pd.concat([df_all, df_trunc])
    print(i) #ticker for progress

IL
IN
IA
KS
KY
MI
MO
NE
OH
SD
WI

In [0]:
df_all.head()

   state_fips_code county_name  county_code  year  Value
0               17      BUREAU           11  2017  215.4
1               17      BUREAU           11  2016  203.9
2               17      BUREAU           11  2015  196.8
3               17      BUREAU           11  2014  196.0
4               17      BUREAU           11  2013  185.9