<a href="https://colab.research.google.com/github/christopher-reed/ag_data_project/blob/master/Yield_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Import packages
import pandas as pd
import numpy as np
import requests, json

api_key = '70D413B2-0123-3524-9634-F730BE441009' 

#Years used in study
years = map(str,range(1981,2018))

#https://quickstats.nass.usda.gov/api to request api and see the keys and values
payload = {'key':api_key,
          'source_desc':'SURVEY',
          'sector_desc':'CROPS',
          'commodity_desc':'CORN',
           'prodn_practice_desc':'ALL PRODUCTION PRACTICES',
          'statisticcat_desc':'YIELD',
           'unit_desc':'BU / ACRE',
          'agg_level_desc':'COUNTY',
           'year':years,
           'format':'JSON'}

#States used in study
states = ['IL']

#Prepare dataframe
df_all = pd.DataFrame()

#Loop through payload with each state in states list
for i in states:
    payload['state_alpha'] = i 
    r = requests.get('http://quickstats.nass.usda.gov/api/api_GET/?key='+api_key, params = payload)
    df = pd.read_json(json.dumps(r.json()),orient='split') 
    
    df_trunc = df[['state_fips_code','county_name','county_code','year','Value']]
    
    df_all = pd.concat([df_all, df_trunc])
    print(i)

IL

In [2]:
#Rearrange columns. Preview df.
df_all = df_all[['year','state_fips_code','county_name','county_code','Value']]
df_all.head()

   year  state_fips_code county_name  county_code  Value
0  2017               17      BUREAU           11  215.4
1  2016               17      BUREAU           11  203.9
2  2015               17      BUREAU           11  196.8
3  2014               17      BUREAU           11  196.0
4  2013               17      BUREAU           11  185.9

In [0]:
#Save as csv
df_all.to_csv('yield_data.csv',index = False, header = False)